<div id="branding">
  <h1 class="logo">
    <a href="#" title="&lt; Guest Book /&gt;">&lt; Guest Book /&gt;</a>
  </h1>
  <ul class="topNav">
    <li><a href="#" class="topNavAct">HOMEPAGE</a></li>
    <li><a href="/register">REGISTER</a></li>
    <li><a href="/login">LOGIN</a></li>
  </ul>
  <br class="clear" />
</div>
